.sf-tool-bar {
    -fx-alignment: CENTER_RIGHT;
}

.sf-outer-vbox {
    -fx-border-width: 1px;
    -fx-border-style: solid;
    -fx-border-color: #FFFF00;
}

.sf-padding {
    -fx-padding: 4px;
}

.sf-document-list {
    -fx-border-width: 0px;
    -fx-border-style: hidden;
}

.sf-tag-filter-list {
    -fx-border-width: 0px;
    -fx-border-style: hidden;
}

.sf-document-list-item {
    -fx-padding: 0px;
}

.sf-document-list-item:filled:hover {
    -fx-background-color: -color-bg-subtle;
}

.sf-document-list-item:filled:selected {
    -fx-background-color: -color-accent-subtle;
}

.sf-area-label {
}

.sf-document-view {
    -fx-background-color: white;
}

.sf-tag-filter-button {
    -fx-background-radius: 15px;
    -fx-padding: 4px 10px;
    -fx-font-size: 11px;
}

.sf-tag-filter-button:selected {
    -fx-background-color: -color-accent-emphasis;
    -fx-text-fill: white;
}